////
/// This files defines all variables used by the framework
///
////

/// browser context in pixels for calculating rem values
/// @type Number
$browser-context: 16 !default;

/// Default touch target width
/// @type Number
$touchable-area: rem(48) !default;

/// Default click target width
/// @type Number
$clickable-area: rem(24) !default;

/// default font-family
/// @type List
$font-family: Popins, sans-serif !default;

/// defines the path where is stored the base path for assets
$asset-path: '/assets' !default;

/// Breakpoints as dog names
/// @type Map
$breakpoints: (
  'chihuahua': 200px,
  'pug': 530px,
  'bulldog': 760px,
  'dobermann': 1024px,
  'saint-bernard': 2048px
) !default;

/// z-index for components
/// @type Map
$z-indexes: (
  'drawer': 5000,
  'modal': 4000,
  'overlay': 3000,
  'dropdown': 2000,
  'default': 1,
  'below': -100
) !default;

/// Opacity levels for components
/// @type Map
$opacity-levels: (
  'active': 1,
  'light': .8,
  'disabled': .5,
  'dark': .4,
  'divider': .12,
  'hidden': 0
) !default;

/// component scales
/// @type Map
$component-scales: (
  'jumbo':     5,
  'xxxl':      4,
  'xxl':       3,
  'xl':        2,
  'lg':        1,
  'default':   0,
  'sm':       -1,
  'xs':       -2,
  'xxs':      -3,
  'xxxs':     -4,
) !default;

/// Properties sides
/// @type List
$sides: (
  'top',
  'right',
  'bottom',
  'left'
);
