////
/// This file describe the grid system and its main layout rules
////

$header-size: measure-lines-rhythm(3);

/// the main wrapper which bootstrap the layout
#wrapper {
  @include fill-content;
  position: relative;
  display: grid;
  grid-template-columns: measure-lines-rhythm(2) 4fr repeat(7, [col] 2fr);
  grid-template-rows: $header-size 1fr;
  grid-template-areas:
      'header header header header header header header header header'
      'content content content content content content content content content';

  // applies another grid in desktop and so
  @include breakpoint(bp(dobermann)) {
    grid-template-areas:
        'drawer drawer header header header header header header header'
        'drawer drawer content content content content content content content';

  }
}
