////
/// This files describes a dropdown element. It dependets on list component
/// for showing dropdown vertically
////
$border-radius: rem(4);
$shadow-blur: rem(3);
$section-width: measure-lines-rhythm(16);
$section-height: measure-lines-rhythm(10);
$light-section-color: pick-color(metal, $opacity: divider);

.dropdown {
  @extend .list-column;
  @include z('dropdown');
  position: absolute;
  right: 0;
  border-radius: $border-radius;
  box-shadow: 0 0 $shadow-blur 0 $shadow-color;
  white-space: nowrap;
  width: $section-width;
  max-height: $section-height;
  background: pick-color(light);

  // change the section width for small and bigger viewports
  // @include breakpoint(max-width bp(pug)) { width: measure-lines-rhythm(9) }
  // @include breakpoint(bp(saint-bernard)) { width: measure-lines-rhythm(32) }

  .header {
    // @include margin-rhythm(1 0);
    @include padding-rhythm(1.5 1);
    background: pick-color(brand);
    color: pick-color(light);

    .subtitle {
      @include margin-rhythm(.5 0 0 0);
    }

  }

  .dropdown-section {
    overflow-y: auto;
    white-space: normal;
    width: $section-width;
    max-height: $section-height;

    // section top separator
    border-top: rem(1) solid $light-section-color;
    @include padding-rhythm(.5 0);

    // change the section width for small and bigger viewports
    // @include breakpoint(max-width bp(pug)) { width: measure-lines-rhythm(9) }
    // @include breakpoint(bp(saint-bernard)) { width: measure-lines-rhythm(32) }
  }

}
