////
/// Tweet timeline
////
////

$link-hover: pick-color(secondary);
$link-color: pick-color(brand);
$avatar-size: measure-lines-rhythm(2);

.timeline {

  // single tweet on timeline
  .tweet-card {
    margin-bottom: measure-lines-rhythm(1.5);
  }
}
