////
/// Tweet timeline
////
////

$link-hover: pick-color(secondary);
$link-color: pick-color(brand);
$avatar-size: baseline-scale(2);

.timeline {

  // single tweet on timeline
  .tweet-card {
    margin-bottom: baseline-scale(1.5);
  }
}
