////
/// Represents a tweet card. Primary used for tweet timeline
////


$link-hover: pick-color(secondary);
$link-color: pick-color(brand);
$avatar-size: baseline-scale(2);
$card-color: pick-color(light);
$card-radius: rem(5);
$tweet-name-color: pick-color(black, -3);
$avatar-radius: 100%;
$keyword-color: pick-color(focus);
$keyword-weight: 900;

.tweet-card {
  @include padding-rhythm(1 .5);
  background: $card-color;
  border-radius: $card-radius;

  .card-header {
    margin-bottom: baseline-scale(.5);

    .tweet-user {

      .avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: $avatar-radius;
        margin-right: baseline-scale(.5);
      }

      .tweet-name {
        .username { color: $tweet-name-color; }
        .divider { @include margin-rhythm(0 .2 0 .4); }
      }

    }

    .tweet-engagement {
      > .tweet-engagement-item {
        margin-right: baseline-scale();
      }
    }

    .tweet-links {
      position: relative;
      cursor: pointer;

      .tweet-link {
        @include padding-rhythm(1);
        color: $link-color;
        &:hover {
          background: $link-hover;
        }
      }
    }

  }

  .card-body {

    .content {
      white-space: pre-line;
      word-break: break-word;
      .keyword {
        color: $keyword-color;
        font-weight: $keyword-weight;
      }
    }

    .keywords-list {
      @include margin-rhythm(.5 0);

      b {
        margin-right: baseline-scale(.5)
      }
      .keyword {
        padding-bottom: baseline-scale(.3);
        border-bottom: rem(1) solid $keyword-color;
        margin-right: baseline-scale(1);
      }
    }
  }

  &.loading {
    @include opacity(disabled);
    .load-spinner { @include opacity(active) }
  }
}
