////
/// Represents a widget component
///
////

/// all group alignments according to flex justify-content
/// @type Map
$aligns: (
  center: center,
  start: flex-start,
  end: flex-end,
  between: flex-between,
  around: flex-around,
  equal: flex-evenly
);

///
/// Widget group main structure
///
%group {
  @include padding-rhythm(1);

  > * {
    @include margin-rhythm(0 1.5 0 0);
  }

  &.no-padding {
    @include padding-rhythm(0);
  }
}

///
/// defines a group divider of widget
/// @param {String} $side [bottom] - side to apply a divider, top or bottom
/// @param {String} $align [center] - align the items of a group according to align-items of flex
///
@mixin widget-group($side: bottom, $justify: flex-start) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-#{$side}: rem(1) solid $shadow-color;
  justify-content: $justify;
}

.widget {
  background: pick-color(light);
  box-shadow: rem(0) rem(0) rem(5) $shadow-color;

  .group {
    @extend %group;

    &.top {
      @include widget-group(top);
    }

    &.bottom {
      @include widget-group(bottom);
    }

    // apply a alignment to each possible sides
    @each $align, $value in $aligns {
      &.#{$align} {
        @include widget-group($justify: $value);
      }
    }
  }
}
