@charset 'utf-8';

////
/// This file describe a icon component
///
////

@use '../utilities' as *;
$pad: 4px;

/// 1. tamanhos em múltiplos do baseline e proporção quadrada
/// 2. tamanhos personalizados podem existem porém talvez precise adicionar pad
///  (para ícones desenvolvidos para diversos tamanhos)
///
/// Basic icon structure
///
%icon {
  cursor: pointer;
}

///
/// Sets icon size using height and width to touchable area
/// All icons is touchable, then uses a default pad for icon and
/// calculate its visible area with its scale using a component scale
///
/// @todo testar aspect-ratio
/// @requires {Function} component-scale
/// @requires {Function} $touchable-area
/// @requires {Function} $pad
/// @param {String | Number} $size [1] - One of components sizing
/// @param {Number} $aspect-ratio [1]
///
@mixin icon($size: 1, $aspect-ratio: 1) {
  $size: component-scale($size) * $touchable-area;

  width: rem($size);
  height: rem($size)/$aspect-ratio;
  @extend %icon;
}

// TODO: outras opções de tamanhos (lg, sm, ...)
.icon {
  @include icon;
}
