////
/// This file contains very basic styles
////

a {
  @include unstyled-link;
  cursor: pointer;
  color: color-variant('accent-1', 'darker');
}

html, body {
  @include fill-content;
  overflow-x: hidden;
}

input, button {
  outline: none;
}

b {
  font-weight: bolder;
}
