@charset 'utf-8';

////
/// This file describes states rules applied globally, which all elements can
/// like change component display option
////

/// show the component as a block
.is-block {
  display: block !important;
}

/// only hides the elemnt
.is-hidden {
  opacity: 0 !important;
}

/// make it visible
.is-visible {
  opacity: 1 !important;
}

/// hides the components from the dom
.is-removed {
  display: none !important;
}

.is-clickable {
  cursor: pointer;
}
