////
/// Defines typography related code, like heading, sizing
///
////

// custom $basesize
$basesize: rem(14);

@include type-setting;

@font-face {
  font-family: Poppins sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}

body {
  color: gray('gray-2')
}

.main-title {
  @include type-scale(jumbo);
}

.main-subtitle {
  @include type-scale(xxxl);
}

.section-title {
  @include type-scale(xxl);
}

.section-subtitle {
  @include type-scale(xl);
}

/// Creates a text class helper for each typescale
@include type-scale-names using ($name) {
  .text-#{$name} {
    @include type-scale($name);
  }
};

/// heading helpers
@each $level in (1 2 3 4 5 6) {
  .heading-#{$level}, h#{$level} {
    @include type-scale(6 - $level);
  }
}

// defines heading classes

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// default small element
small {
  @include type-scale(sm);
}

/// default quote element
q {
  @extend .section-subtitle;
  font-style: italic;
}

b {
  font-weight: bolder;
}
