////
/// This file contains very basic styles
////

@use '../utilities' as *;

a {
  @include unstyled-link;
  cursor: pointer;
}

html, body {
  @include full-content;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

input, button {
  outline: none;
}
