@charset 'utf-8';

////
/// This file contains very basic styles
////

@use '../utilities' as *;

@include css-vars($breakpoints);
@include css-vars($z-indexes, 'z');
@include css-vars($color-grayscale);
@include css-vars($color-colors, 'color');
@include css-vars($color-gradients, 'gradient');

a {
  @include unstyled-link;
  cursor: pointer;
}

:root, body {
  @include full-viewport;
  overflow: hidden;
}

input, button {
  outline: none;
}
