////
/// Defines classes
///
////

@use '../utilities/colors';

// define all text and background colors
@include colors.apply-colors using ($color) {
  .text-#{$color} {
    color: colors.pick($color);
  }

  .background-#{$color} {
    background-color: colors.pick($color);
  }

  .border-#{$color} {
    border-color: colors.pick($color);
  }
}

a {
  color: colors.variant('accent-1', 'darker');
}
