////
/// Defines typography related code, like heading, sizing
///
////

@use '../utilities' as *;
@use 'sass:map';

@include rhythm-bootstrap;

// TODO usar local como src em vez de url
$font: (
  family: ('Comfortaa', cursive),
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap')
) !default;

@font-face {
  font-family: map.get($font, 'family');
  src: map.get($font, 'src')
}

body {
  font-family: map.get($font, 'family');
  color: color-gray('gray-2');
}

.main-title {
  @include rhythm-type-scale(jumbo);
}

.main-subtitle {
  @include rhythm-type-scale(xxxl);
}

.section-title {
  @include rhythm-type-scale(xxl);
}

.section-subtitle {
  @include rhythm-type-scale(xl);
}

/// Creates a text class helper for each typescale
@include component-scale using ($name) {
  .text-#{$name} {
    @include rhythm-type-scale($name);
  }
};

/// heading helpers
@each $level in (1 2 3 4 5 6) {
  .heading-#{$level}, h#{$level} {
    @include rhythm-type-scale(6 - $level);
  }
}

// defines heading classes

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// default small element
small {
  @include rhythm-type-scale(sm);
}

/// default quote element
q {
  @extend .section-subtitle;
  font-style: italic;
}

b, .text-bold {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}
