////
/// This file describe functions used for vertical rhythm
////

@use 'variables' as *;

///
/// Calculates the length of lines according
///
/// The lines is based on ratio defined by the user. The vertical rhythm
/// library defines a root html element which is where all font-size, line
/// is referenced by. So the calculation is converted to rem so can use
/// this font-size of root as reference
///
/// @requires $baseline
///
/// @throw Warning about values with units
/// @param {Number} $lines [1] - lines to be calculated
/// @return {Number} - tamanho da linha em rem
///
@function baseline-scale($lines: 1) {
  @if is-unitless($lines) == false {
    @warn "The lines should be a unitless value. Instead it were #{$lines}";
  }

  @return $lines * $baseline;
}

///
/// Calculates the specific leading for font-size.
///
/// @requires {function} lines-required
/// @requires {function} baseline-scale
///
/// @param {Number} $font-size [$basesize] - $font-size
/// @return {Number}
///
@function leading($font-size: $basesize) {
  @return baseline-scale(_lines-required($font-size));
}

///
/// Transforms each line using baseline-scale
///
/// @throws property error type
/// @access private
/// @requires {function} baseline-scale
///
/// @param {Number} $lines - arbitrary list of lines
/// @return {List} list of transformed lines
///
@function list-baseline($lines...) {
  $list: ();

  @each $item in $lines {
    @if type-of($item) != 'number' {
      @warn "#{$item} must be a number to calculate required lines";
    }

    $list: append($list, baseline-scale($item));
  }

  @return $list;
}

///
/// Calculates the amount of lines required to mantain the rhythm
/// the font-size calculated is divided by the measuremnt of a single line.
/// Pixel values are accepted either
///
/// @access private
/// @requires {Function} baseline-scale
///
/// @param {Number} $basesize [$basesize] - font-size in rem
/// @return {Number}
///
@function _lines-required($font-size: $basesize) {
  @if unit($font-size) == 'px' {
    $font-size: rem($font-size);
  }

  @if unit($font-size) != 'rem' {
    @warn 'The unit for `lines-required` should be `rem`';
  }

  @return ceil($font-size/baseline-scale());
}
