////
///  This file describe variables necessary for vertical rhythm
////

@use '~modularscale-sass/stylesheets/modularscale' as *;

@use '../common' as common;

/// font-size base for modular scale
/// @type Number
$basesize: common.rem(14) !default;

/// the ratio to calculate the baseline length
/// @type Number
$baseline-ratio: 1.5 !default;

/// baseline length in rem
/// @type Number
$baseline: $basesize * $baseline-ratio !default;

/// Configures modular scale module. Always set the $baseline as a base
/// @see https://github.com/modularscale/modularscale-sass
$modularscale: (
  base: $basesize $baseline,
  ratio: $golden
);

@forward '~modularscale-sass/stylesheets/modularscale'
